body {margin:0; padding:3%; font-family:sans-serif;}
#main {background-color:#eeeeee; border-width:1px; border-color:black; border-style:solid; padding:2%; display:inline-block; border-radius: 30px; -moz-border-radius:30px;}
#points {margin:0; padding:1%; text-align:center;}
#stats {margin:0; padding:1%; text-align:center;}
#race_and_class {margin:0; padding:1%; text-align:center;}
.key_number { font-weight:bold; }
.stat_label {display:inline-block; width:50px;}
.button {width:40px; height:40px; padding:6px; background-color: #000; color:#fff; font-weight:bold; border:none; border-radius: 30px; -moz-border-radius:40px; text-align:center; vertical-align:}
.dropdown_label {display:inline-block; width:125px;}
p {font-size:large;}