<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}</style>
  <title>13th Age Point Buy Calculator</title>
  <meta name="description" content="13th Age Point Buy Calculator">
  <meta name="keywords" content="13th Age, 13th, Age, Archmage, Engine, Archmage Engine, Point, Buy, Point buy, Pelgrane Press Ltd, Pelgrane, Press, Ltd">
  <meta name="author" content="Jared Stander">
  <link rel="stylesheet" type="text/css" href="13th%20Age%20Point%20Buy%20Calculator_files/13thagepointbuy.css">
  <script src="13th%20Age%20Point%20Buy%20Calculator_files/jquery-latest.js"></script>
  <script src="13th%20Age%20Point%20Buy%20Calculator_files/angular.js" type="text/javascript"></script>
  <script src="13th%20Age%20Point%20Buy%20Calculator_files/app.js" type="text/javascript"></script>
  <script src="13th%20Age%20Point%20Buy%20Calculator_files/maincontroller.js" type="text/javascript"></script>
</head>
<body>
  <div class="ng-scope" id="main" ng-app="13thAgePointBuy" ng-controller="MainController">
    <div id="points">
      <h2>13th Age Point Buy Calculator</h2>
      <hr>
      <p><span class="points_label">Points Left:&nbsp;</span><span class="points_remaining"><span class="key_number ng-binding">12</span></span></p>
      <hr>
      <div id="container">
    <!-- </div> -->
    <div id="stats">
      <p>
        <span class="stats_label ng-binding">STR: </span>&nbsp;
        <span class="stats_buttons_and_score">
          <button class="stats_button" ng-click="decrementScore(pointBuyScore[0], 0)">-</button>&nbsp;
          <span class="stats_score_label">
            <span class="stats_key_number ng-binding">18</span>
          </span>&nbsp;
          <button class="stats_button" ng-click="incrementScore(pointBuyScore[0], 0)">+</button>&nbsp;
        </span>
        <span class="stats_mod_label ng-binding"> Mod: 
          <span class="stats_key_number ng-binding">4</span>
        </span>
      </p>
      <p>
        <span class="stats_label ng-binding">DEX: </span>&nbsp;
        <span class="stats_buttons_and_score">
          <button class="stats_button" ng-click="decrementScore(pointBuyScore[1], 1)">-</button>&nbsp;
          <span class="stats_score_label">
            <span class="stats_key_number ng-binding">8</span>
          </span>&nbsp;
          <button class="stats_button" ng-click="incrementScore(pointBuyScore[1], 1)">+</button>&nbsp;
        </span>
        <span class="stats_mod_label ng-binding"> Mod: 
          <span class="stats_key_number ng-binding">-1</span>
        </span>
      </p>
      <p>
        <span class="stats_label ng-binding">CON: </span>&nbsp;
        <span class="stats_buttons_and_score">
          <button class="stats_button" ng-click="decrementScore(pointBuyScore[2], 2)">-</button>&nbsp;
          <span class="stats_score_label">
            <span class="stats_key_number ng-binding">8</span>
          </span>&nbsp;
          <button class="stats_button" ng-click="incrementScore(pointBuyScore[2], 2)">+</button>&nbsp;
        </span>
        <span class="stats_mod_label ng-binding"> Mod: 
          <span class="stats_key_number ng-binding">-1</span>
        </span>
      </p>
      <p>
        <span class="stats_label ng-binding">INT: </span>&nbsp;
        <span class="stats_buttons_and_score">
          <button class="stats_button" ng-click="decrementScore(pointBuyScore[3], 3)">-</button>&nbsp;
          <span class="stats_score_label">
            <span class="stats_key_number ng-binding">8</span>
          </span>&nbsp;
          <button class="stats_button" ng-click="incrementScore(pointBuyScore[3], 3)">+</button>&nbsp;
        </span>
        <span class="stats_mod_label ng-binding"> Mod: 
          <span class="stats_key_number ng-binding">-1</span>
        </span>
      </p>
      <p>
        <span class="stats_label ng-binding">WIS: </span>&nbsp;
        <span class="stats_buttons_and_score">
          <button class="stats_button" ng-click="decrementScore(pointBuyScore[4], 4)">-</button>&nbsp;
          <span class="stats_score_label">
            <span class="stats_key_number ng-binding">8</span>
          </span>&nbsp;
          <button class="stats_button" ng-click="incrementScore(pointBuyScore[4], 4)">+</button>&nbsp;
        </span>
        <span class="stats_mod_label ng-binding"> Mod: 
          <span class="stats_key_number ng-binding">-1</span>
        </span>
      </p>
      <p>
        <span class="stats_label ng-binding">CHA: </span>&nbsp;
        <span class="stats_buttons_and_score">
          <button class="stats_button" ng-click="decrementScore(pointBuyScore[5], 5)">-</button>&nbsp;
          <span class="stats_score_label">
            <span class="stats_key_number ng-binding">8</span>
          </span>&nbsp;
          <button class="stats_button" ng-click="incrementScore(pointBuyScore[5], 5)">+</button>&nbsp;
        </span>
        <span class="stats_mod_label ng-binding"> Mod: 
          <span class="stats_key_number ng-binding">-1</span>
        </span>
      </p>
    </div>
    <div id="race_and_class">
      <hr>
      <p>
        <span class="race_and_class_dropdown_label">Racial Bonus:&nbsp;</span>
        <span class="race_and_class_dropdown">
          <select class="ng-pristine ng-valid" ng-model="racialAbilityScoreSelected" ng-change="selectRacialBonus(racialAbilityScoreSelected.label, racialAbilityScoreSelected.id)" ng-options="racialStat as racialStat.label for racialStat in racialStats"><option selected="selected" value="0">None</option><option value="1">Strength</option><option value="2">Dexterity</option><option value="3">Constitution</option><option value="4">Intelligence</option><option value="5">Wisdom</option><option value="6">Charisma</option></select>
        </span>
      </p>
      <p>
        <span class="race_and_class_dropdown_label">Class Bonus:&nbsp;</span>
        <span class="race_and_class_dropdown">
          <select class="ng-pristine ng-valid" ng-model="classAbilityScoreSelected" ng-change="selectClassBonus(classAbilityScoreSelected.label, classAbilityScoreSelected.id)" ng-options="classStat as classStat.label for classStat in classStats"><option selected="selected" value="0">None</option><option value="1">Strength</option><option value="2">Dexterity</option><option value="3">Constitution</option><option value="4">Intelligence</option><option value="5">Wisdom</option><option value="6">Charisma</option></select>
        </span>
      </p>
    </div>
  </div>
  </div>

</div></body></html>